$color-box-bg: #F0F1F1;
$color-text-light-bg: #5E5322;
$color-call-to-action: #FAD648;
$color-shadows: #737373;
$color-text-basic: #3C3C3C;
$color-placeholder: #3C3C3C26;
$color-success: #28a745;
$color-error: #dc3545;