@mixin styled-input-border-btm {
  margin-top: 12px;
  line-height: 24px;
  outline: 0;
  border-width: 0 0 0.75px;
  border-color: $color-text-basic;
  background: transparent;

  &:focus{
    border-color: $color-call-to-action
  }

  &::placeholder{
    color: $color-placeholder;
  }

  @content
}

@mixin display-flex-helper($flex-direction){
  display: flex;
  flex-direction: $flex-direction;
  @content
}