.header-section-home{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 37px 142px 0 0;
}

.nav-section-home{
  margin-top: 35px;
  margin-bottom: 0;
  display: flex;

  li {
    list-style: none;
    cursor: pointer;
  }
}

.main-section-img{
  background: url("../../assets/Home-Hero-Image.jpg") no-repeat -350px;
  background-size: cover;
  height: 100vh;
  width: 50vw;

  @media (min-height: 1000px) {
    background: url("../../assets/Home-Hero-Image.jpg") no-repeat -560px;
    background-size: cover;
  }
}

.main-section-start{
  display: flex;
  justify-content: space-between;
}

.home-main-section{
  display: flex;
  justify-content: center;
  height: calc(100vh - 73px - 37px);

  .main-section-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-right: 142px;
  }

  .decoration-home{
    margin: 25px 0 78px;
  }

  .home-main-cta{
    width: 674px;
    display: flex;
    justify-content: space-around;

    button:last-of-type{
      padding: 13px 51px;
      margin-left: 44px;
    }
  }
}

.home-statistics{
  height: 384px;
  width: 100%;
  background-image: url("../../assets/3--Columns-Background.png");
  display: flex;
  align-items: center;
  justify-content: space-around;

  article{
    width: 334px;
    text-align: center;
    font-weight: 300;

    span{
      font-size: 90px;
    }

    p:first-of-type{
      font-size: 18px;
      text-transform: uppercase;
      font-weight: normal;
    }

    p{
      font-size: 16px;
    }
  }
}

.donation-steps{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 35px;

  .decoration-home{
    align-self: center;
    margin-bottom: 41px;
  }

  .steps-list{
    height: 325px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-box-bg;

    article{
      display: flex;
      flex-direction: column;

      .step-icon{
        align-self: center;
        height: 83px;
        width: 83px;
        background: url("../../assets/Icon-1.svg") no-repeat;
        margin-bottom: 30px;

        &.pack{
          background: url("../../assets/Icon-2.svg") no-repeat;
        }

        &.search{
          background: url("../../assets/Icon-3.svg") no-repeat;
        }

        &.courier{
          background: url("../../assets/Icon-4.svg") no-repeat;
        }
      }

      hr{
        width: 70px;
      }

      p:last-of-type{
        margin-top: 0;
      }
    }
  }

  button{
    margin-top: 48px;
    align-self: center;
  }
}

.home-about-us{
  display: flex;
  height: 935px;
  margin-top: 93px;

  .about-us-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50vw - 8px);
    background-color: $color-box-bg;
    text-align: center;

    p{
      width: 657px;
      font-size: 30px;
      line-height: 54px;
    }

    .signature{
      width: 209px;
      height: 149px;
      background: url("../../assets/Signature.svg") no-repeat;
      align-self: flex-end;
      margin-right: 152px;
    }
  }

  .about-us-image{
    width: calc(50vw - 8px);
    height: auto;
    background: url("../../assets/People.jpg") no-repeat;
    background-size: cover;
  }
}

.home-organizations{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav-organizations{
    width: 792px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  > p{
    width: 640px;
    margin-top: 70px;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }

  .org-list{
    margin-top: 44px;
    width: 1344px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .org-list-item{
      display: flex;
      align-items: center;
      justify-content: space-between;

      p{
       font-size: 18px;
        font-weight: 300;
      }

      div > p{
        text-align: left;
      }
    }

    hr{
      width: 100%;
    }
  }

  .home-org-pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;

    button{
      margin-right: 20px;

      &:last-of-type{
        margin-right: 0;
      }
    }
  }
}