.header-section-home{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 37px 142px 0 0;
}

.nav-section-home{
  margin-top: 35px;
  margin-bottom: 0;
  display: flex;

  li {
    list-style: none;
    cursor: pointer;
  }
}

.home-main-section{
  display: flex;
  justify-content: space-between;

  img{
    height: calc(100vh - 73px - 37px);
    width: 55vw;
  }

  .main-section-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-right: 142px;
  }

  .decoration-home{
    margin: 25px 0 78px;
  }

  .home-main-cta{
    width: 674px;
    display: flex;
    justify-content: space-around;

    a:last-of-type{
      padding: 13px 51px;
      margin-left: 44px;
    }
  }
}