body {
  font-family: $font-base;
  color: $color-text-basic;
  margin: auto 8px;
}

a {
  text-decoration: none;
}

button{
  background-color: white;
  font-family: $font-base;
  cursor: pointer;
}

h1{
  font-size: 36px;
  font-weight: normal;
}

h2{
  font-size: 38px;
  font-weight: normal;
}

h3{
  font-size: 26px;
  font-weight: 300;
}

input, textarea {
  color: $color-text-basic;
}